In [163]:
import pandas as pd
import numpy as np
from shared import demand as dmd
from shared.features import construct_features, add_total

import matplotlib.pyplot as plt

In [164]:
df = dmd.create_ds()

In [166]:
df
99

                          demand  product_category_name
order_purchase_timestamp
2016-09-15                     3                  total
2016-09-16                     0                  total
2016-09-17                     0                  total
2016-09-18                     0                  total
2016-09-19                     0                  total
...                          ...                    ...
2018-08-24                    18  utilidades_domesticas
2018-08-25                     5  utilidades_domesticas
2018-08-26                     9  utilidades_domesticas
2018-08-27                    13  utilidades_domesticas
2018-08-28                     8  utilidades_domesticas

[42849 rows x 2 columns]